In [1]:
#import dependencies
import pandas as pd

In [56]:
#load csv file into juypter notebook
ca_file = pd.read_csv("/Users/Jerry/Downloads/ca_ev_registrations_public.csv")
ca_file.head()

/var/folders/7y/crgpl7c16kz6hr5b9zbdn3vh0000gp/T/ipykernel_1481/4108565395.py:2: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  ca_file = pd.read_csv("/Users/Jerry/Downloads/ca_ev_registrations_public.csv")

,Vehicle ID,County GEOID,Registration Valid Date,DMV ID,DMV Snapshot,Registration Expiration Date,State Abbreviation,Geography,Vehicle Name
0,CA-002-03597\r,06099,2011-01-01,2,CA Registration Data from CA (12/31/2011),NaN,CA,County,Chevrolet Volt
1,CA-002-03598\r,06105,2011-01-01,2,CA Registration Data from CA (12/31/2011),NaN,CA,County,Nissan Leaf
2,CA-002-03599\r,06103,2011-01-01,2,CA Registration Data from CA (12/31/2011),NaN,CA,County,Chevrolet Volt
3,CA-002-03600\r,06099,2011-01-01,2,CA Registration Data from CA (12/31/2011),NaN,CA,County,Tesla Roadster
4,CA-002-03601\r,06099,2011-01-01,2,CA Registration Data from CA (12/31/2011),NaN,CA,County,Tesla Roadster

In [57]:
ca_file["Vehicle ID"].drop_duplicates()

0           CA-002-03597\r
1           CA-002-03598\r
2           CA-002-03599\r
3           CA-002-03600\r
4           CA-002-03601\r
                ...
2542438    CA-011-471900\r
2542439    CA-011-471901\r
2542440    CA-011-471902\r
2542441    CA-011-471903\r
2542442    CA-011-471904\r
Name: Vehicle ID, Length: 2542443, dtype: object

In [58]:
#remove unneccessary columns
filtered_data = ca_file[["State Abbreviation", "Geography", "Vehicle Name"]]
filtered_data.head()

  State Abbreviation Geography    Vehicle Name
0                 CA    County  Chevrolet Volt
1                 CA    County     Nissan Leaf
2                 CA    County  Chevrolet Volt
3                 CA    County  Tesla Roadster
4                 CA    County  Tesla Roadster

In [59]:
#spilt vehicle name column into make and model
filtered_data[["Make", "Model"]] = filtered_data["Vehicle Name"].str.split(' ', n=1, expand=True)

/var/folders/7y/crgpl7c16kz6hr5b9zbdn3vh0000gp/T/ipykernel_1481/3262450218.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data[["Make", "Model"]] = filtered_data["Vehicle Name"].str.split(' ', n=1, expand=True)
/var/folders/7y/crgpl7c16kz6hr5b9zbdn3vh0000gp/T/ipykernel_1481/3262450218.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data[["Make", "Model"]] = filtered_data["Vehicle Name"].str.split(' ', n=1, expand=True)

In [63]:
#filter to final columns and change state column name
ca_df= filtered_data[["State Abbreviation", "Make", "Model"]]

ca_df = ca_df.rename(columns={"State Abbreviation":"State"})

#create a count column for total models in the states
a=ca_df.groupby('Model')['Model'].count()
a

Model
1                       1
2                      69
3-Series Plug in    14121
5-Series Plug in    29485
500e                87449
                    ...
i                    2938
i3                  23920
i3 REx              61679
i8                   7517
iQ                    537
Name: Model, Length: 82, dtype: int64

In [53]:
ca_df["Total Models"]=ca_df.groupby('Make')['Model'].count()

In [51]:
#Cleaning Colorado data
#load in csv file
co_file= pd.read_csv("/Users/Jerry/Downloads/co_ev_registrations_public.csv")
co_file.head()

#Filter out unnecessary data
co_df= co_file[["Vehicle Name"]]

#spilt vehicle name column into make and model
co_df[["Make", "Model"]] = co_df["Vehicle Name"].str.split(' ', n=1, expand=True)

#add a state column to the df
co_df["State"]= "CO"

co_df = co_df[["State", "Make", "Model"]]

#check final form
co_df.head()

/var/folders/7y/crgpl7c16kz6hr5b9zbdn3vh0000gp/T/ipykernel_1481/2314092062.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  co_df[["Make", "Model"]] = co_df["Vehicle Name"].str.split(' ', n=1, expand=True)
/var/folders/7y/crgpl7c16kz6hr5b9zbdn3vh0000gp/T/ipykernel_1481/2314092062.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  co_df[["Make", "Model"]] = co_df["Vehicle Name"].str.split(' ', n=1, expand=True)
/var/folders/7y/crgpl7c16kz6hr5b9zbdn3vh0000gp/T/ipykernel_1481/2314092062.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  co_df["State"]= "CO"

  State       Make    Model
0    CO        Kia  Niro EV
1    CO     Nissan     Leaf
2    CO      Tesla  Model 3
3    CO  Chevrolet     Volt
4    CO      Tesla  Model X

In [52]:
co_df["Model"].value_counts()

<bound method IndexOpsMixin.value_counts of 0                Niro EV
1                   Leaf
2                Model 3
3                   Volt
4                Model X
               ...
1075017              EQS
1075018          Model S
1075019       Q5 Plug In
1075020     C40 Recharge
1075021    Fusion Energi
Name: Model, Length: 1075022, dtype: object>

In [66]:
#Cleaning Colorado data
#load in csv file
tx_file= pd.read_csv("/Users/Jerry/Downloads/tx_ev_registrations_public.csv")
tx_file.head()

#Filter out unnecessary data
tx_df= tx_file[["Vehicle Name"]]

#spilt vehicle name column into make and model
tx_df[["Make", "Model"]] = tx_df["Vehicle Name"].str.split(' ', n=1, expand=True)

#add a state column to the df
tx_df["State"]= "TX"

tx_df = tx_df[["State", "Make", "Model"]]

#check final form
tx_df.head()

/var/folders/7y/crgpl7c16kz6hr5b9zbdn3vh0000gp/T/ipykernel_1481/2212489609.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tx_df[["Make", "Model"]] = tx_df["Vehicle Name"].str.split(' ', n=1, expand=True)
/var/folders/7y/crgpl7c16kz6hr5b9zbdn3vh0000gp/T/ipykernel_1481/2212489609.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tx_df[["Make", "Model"]] = tx_df["Vehicle Name"].str.split(' ', n=1, expand=True)
/var/folders/7y/crgpl7c16kz6hr5b9zbdn3vh0000gp/T/ipykernel_1481/2212489609.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tx_df["State"]= "TX"

  State   Make    Model
0    TX  Tesla  Model 3
1    TX  Tesla  Model 3
2    TX  Tesla  Model 3
3    TX  Tesla  Model 3
4    TX  Tesla  Model 3

In [71]:
#Cleaning Colorado data
#load in csv file
nj_file= pd.read_csv("/Users/Jerry/Downloads/nj_ev_registrations_public.csv")
nj_file.head()

nj_df = nj_file[["Make", "Model"]]

#add a state column to the df
nj_df["State"]= "NJ"

#check final form
nj_df.head()

/var/folders/7y/crgpl7c16kz6hr5b9zbdn3vh0000gp/T/ipykernel_1481/4122357465.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  nj_file= pd.read_csv("/Users/Jerry/Downloads/nj_ev_registrations_public.csv")
/var/folders/7y/crgpl7c16kz6hr5b9zbdn3vh0000gp/T/ipykernel_1481/4122357465.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nj_df["State"]= "NJ"

    Make    Model State
0  Tesla  Model Y    NJ
1  Tesla  Model Y    NJ
2  Tesla  Model Y    NJ
3  Tesla  Model Y    NJ
4  Tesla  Model Y    NJ

In [72]:
#Cleaning Tennessee data
#load in csv file
tn_file= pd.read_csv("/Users/Jerry/Downloads/tn_ev_registrations_public.csv")

tn_df = tn_file[["Make", "Model"]]

#add a state column to the df
tn_df["State"]= "TN"

#check final form
tn_df.head()

/var/folders/7y/crgpl7c16kz6hr5b9zbdn3vh0000gp/T/ipykernel_1481/1548883993.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tn_df["State"]= "TN"

        Make Model State
0  Chevrolet  Volt    TN
1  Chevrolet  Volt    TN
2  Chevrolet  Volt    TN
3  Chevrolet  Volt    TN
4  Chevrolet  Volt    TN

In [74]:
#Cleaning Virginia data
#load in csv file
va_file= pd.read_csv("/Users/Jerry/Downloads/va_ev_registrations_public.csv")
va_file.head()

va_df = va_file[["Make", "Model"]]

#add a state column to the df
va_df["State"]= "VA"

#check final form
va_df.head()

/var/folders/7y/crgpl7c16kz6hr5b9zbdn3vh0000gp/T/ipykernel_1481/1684126687.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  va_df["State"]= "VA"

     Make        Model State
0  Toyota  Prius Prime    VA
1  Toyota  Prius Prime    VA
2  Toyota  Prius Prime    VA
3  Toyota  Prius Prime    VA
4  Toyota  Prius Prime    VA